/* you will add css rules for element selectors and IDs */
html {
    box-sizing: border-box;
}

* {
    box-sizing: inherit;
}

/* you may add to or change the body rule */
body {
    font-family: sans-serif;
    color: #000;
    background: #333;
    margin: 0;


}
img {
    max-width: 100%; /* DO NOT delete or change this line */
}

article {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 0rem 2rem;
}

section {
    max-width: 70%;
}


header {
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 3rem;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1rem;
}

footer {
    color: #fff;
    margin: 2rem;
    text-align: center;
}

#cougar {
    background: #E9A667;
    }

#lion {
    background: #FFD5AE;

}

#tiger {
    background: #FFC38F;

}


.text {
    padding: 1rem 2rem;
    font-size: 1rem;
    line-height: 1.5rem;
    margin-bottom: 1rem;
    max-width: 600px;
}

.photo {
    margin-top: 2.5rem;
    max-width: 600px;
}



/* ----- SUGGESTED COLORS -----
    - ARTICLES
    B26219 cinnamon
    FFD5AE pale peach
    FFBD82 peach
    - LINKS
    379CB2 medium blue
    82E8FF light blue

   ----- NEUTRAL COLORS you may use also -----
   000 black
   333 charcoal
   666 dark medium gray
   999 light medium gray
   ccc pale gray
   fff white
*/


/* --- link pseudo classes --- */
/* --- you may ADD other link pseudo classes for
        specific articles or sections to improve CONTRAST --- */
/*
a:link {
    color: #9ee3e6;
}
a:visited {
    color: #EDD7BF;
}
a:focus {
    color: #e2f7f7;
}
a:hover {
    color: #fdfefe;
}
a:active {
    color: #c7eff0;
}
*/

a {
    color: #0007E0;
}
a:hover {
    color: #fff;
}
header a {
    color: #96D2DE;
}
header a:hover {
    color: #379CB2;
}
header a:link {
    text-decoration: none;
}
